*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 30%;
    height: 90%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.inside{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#main-display{
    width: 96%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: skyblue;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
     box-shadow: rgba(161, 139, 139, 0.25) 0px 54px 55px, rgba(153, 125, 125, 0.25) 0px -12px 30px, rgba(153, 125, 125, 0.25) 0px 4px 6px, rgba(153, 125, 125, 0.25) 0px 12px 13px, rgba(165, 152, 152, 0.25) 0px -3px 5px;;
} 

.display{
    width: 100%;
    height: 15%;
    
 }

 button{
    height: 100%;
    width: 80px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: rgba(147, 144, 144, 0.07) 0px 1px 2px, rgba(161, 153, 153, 0.07) 0px 2px 4px, rgba(180, 168, 168, 0.07) 0px 4px 8px, rgba(163, 158, 158, 0.07) 0px 8px 16px, rgba(138, 135, 135, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} 


#equal{
    width: 165px;
    background-color: rgba(0, 0, 255, 0.333);
}

.displayMoods{
    height: 22px;
    width: 44px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    margin-right: 87%;
    border: 2px solid #d5c6c6de;
    border-radius:10px 10px 10px 10px;
  }
  #on{
    height: 14px;
    width:17px;
    background-color: whitesmoke;
    
  }
  
  #off{
    height:14px;
    width:17px;
    background-color: #090909;
  }

  button:hover{
    background-color: skyblue;
    color: red;
    
}
